body:before{
            content: '';
            z-index: -1;
            width: 3000px;
            height: 3000px;
            display: block;
            position: fixed;
            top: calc(50% - 1500px);
            left: calc(50% - 1500px);
            animation: bg-rotate 20s infinite linear;
            background: linear-gradient(45deg, #47b587 40%, #52b572 60%);
        }
        @keyframes bg-rotate {
            0%{ transform: rotate(0) }
            100%{ transform: rotate(360deg) }
        }
		.web-right{
					background-color: rgba(255, 255, 255, 0.5) !important;
					border-radius: 50%;
					text-align: center;
					line-height: 40px;
					font-size: 20px;
					color: #000000;
					font-weight: bolder;
				}		
		@media (max-width: 767px) {
					.web-right{
						background-color: rgba(255, 255, 255, 0.5) !important;
						border-radius: 50%;
						text-align: center;
						line-height: 40px;
						font-size: 15px !important;
						color: #000000;
						font-weight: bolder;
					}
				}
		@media (max-width: 400px) {
					.web-right{
						background-color: rgba(255, 255, 255, 0.5) !important;
						border-radius: 50%;
						text-align: center;
						line-height: 40px;
						font-size: 10px !important;
						color: #000000;
						font-weight: bolder;
					}
				}